@charset "utf-8";

body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: whitesmoke;
    background-color: darkmagenta;
}
p{
    color: aliceblue;
    text-align: justify;
}