@charset "utf-8"
@font-face {
    font-family:"idroid";
    src: url(fontes/idroid.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
*{
    margin:auto;
    height: auto;
    
}

header{
   background-color:#023535 ;
   padding: 28px;

}
nav{
    height: 20px;
    padding: 20px;
}
.titulo{
    text-align: center;
    color: white;
}
.sub-titulo{
   font-size: 14px;
   text-align: center;
   color: white;
}
h1{
    font-size: 29px;
}
div{
    display: block;
    background-color: green;
    padding: 25px;
    height: 400;
}
.lista{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    
}
.titulolista{
    background-color: green;
    padding: 10px;
}
.androidlist{
    display: inline-flex ;
    background-color: rgb(88, 255, 88);
    text-align: justify end;
    width: 80%;

}

